---
	import Shell from "./Shell.astro";

  // load default components
	import Mainmenu from "$components/navigation/mainmenu.svelte";
  const titlePrefix = 'Centauri';
  const titleSeparator = ' | ';
  const defaultMenuItems = [
    {
      label: 'home',
      slug: ''
    },
    {
      label: 'use it',
      slug: 'useit'
    },
    {
      label: 'docs',
      slug: 'docs'
    },
    {
      label: 'logout',
      slug: 'logout',
      preventDefault: true,
      authenticated: true
    }
  ];
  const year = new Date().getFullYear();
  const {title, description, bodyClasses, theme, menuItems = [], loginRedirect = '', loginPageSlug = '/login'} = Astro.props;
---
<Shell title={titlePrefix + titleSeparator + title} description={description} bodyClasses={bodyClasses} theme={theme} loginRedirect={loginRedirect} {loginPageSlug}>
  <slot name="htmlhead"></slot>
  <slot name="headerwrapper">
    <header>
      <slot name="contentheader">
        <div class="min-h-16 h-16">
          <Mainmenu menuItems={menuItems && menuItems.length && menuItems.length > 0 ? menuItems : defaultMenuItems} client:load></Mainmenu>
        </div>
      </slot>
    </header>
  </slot>
  <slot name="mainwrapper">
    <main>
      <slot></slot>
    </main>
  </slot>
  <slot name="footerwrapper">
    <footer>
      <slot name="contentfooter">
        <div class="flex p-3">
          <div class="flex-grow text-left">
            <a href="https://github.com/p13rnd/centauri/blob/master/LICENSE.md" target="_blank" title="show license">MIT</a>
          </div>
          <div class="flex-grow text-center">
            <a href="https://github.com/p13rnd/centauri" target="_blank" title="view on github">
              <img class="mx-auto w-7" src="/images/github.png" alt="github logo">
            </a>
          </div>
          <div class="flex-grow text-right">
            &commat;{year}
          </div>
        </div>
      </slot>
    </footer>
  </slot>
</Shell>