---
	import Shell from "./Shell.astro";
  import { Icon } from 'astro-icon';

  // load default components
	import Mainmenu from "../components/navigation/mainmenu.svelte";
  import Adminmenu from "../components/navigation/adminmenu.svelte";
  const titlePrefix = 'Centauri';
  const titleSeparator = ' | ';
  const defaultAdminMenuItems = {
    left: {
      icon: 'plus',
      items: [
        {
          label: 'page',
          slug: 'pages/create'
        }
      ]
    },
    right: {
      icon: 'cog',
      items: [
        {
          label: 'settings',
          slug: 'settings'
        }
      ]
    }
  };
  const defaultMenuItems = [
    {
      label: 'home',
      slug: ''
    },
    {
      label: 'use it',
      slug: 'useit',
      authenticated: true
    },
    {
      label: 'docs',
      slug: 'docs',
      authenticated: false
    },
    {
      label: 'sign in',
      slug: 'signin',
      authenticated: false
    },
    {
      label: 'logout',
      slug: 'logout',
      preventDefault: true,
      authenticated: true
    }
  ];
  const year = new Date().getFullYear();
  const {
    title, 
    description, 
    bodyClasses, 
    theme, 
    menuItems = [],
    adminMenuItems = [],
    loginRedirect = '/', 
    afterSignupRedirect = '/', 
    loginPageSlug = '/signin'
  } = Astro.props;
---
<Shell 
  title={titlePrefix + titleSeparator + title}
  description={description} 
  bodyClasses={bodyClasses} 
  theme={theme} 
  loginRedirect={loginRedirect} 
  loginPageSlug={loginPageSlug} 
  afterSignupRedirect={afterSignupRedirect}
>
  <slot name="htmlhead"></slot>
  <slot name="headerwrapper">
    <header>
      <slot name="contentheader">
        <div class="min-h-16 h-16">
          <Mainmenu menuItems={menuItems && menuItems.length && menuItems.length > 0 ? menuItems : defaultMenuItems} client:load></Mainmenu>
        </div>
      </slot>
    </header>
  </slot>
  <slot name="mainwrapper">
    <main>
      <slot></slot>
    </main>
  </slot>
  <slot name="footerwrapper">
    <footer>
      <slot name="contentfooter">
        <div class="flex p-3">
          <div class="flex-grow text-left">
            <a href="https://github.com/p13rnd/centauri/blob/master/LICENSE.md" target="_blank" title="show license">MIT</a>
          </div>
          <div class="flex-grow text-center">
            <a href="https://github.com/p13rnd/centauri" target="_blank" title="view on github">
              <Icon class="mx-auto text-4xl" name="github" />
            </a>
          </div>
          <div class="flex-grow text-right">
            &commat;{year}
          </div>
        </div>
      </slot>
    </footer>
  </slot>
  <Adminmenu menuItems={adminMenuItems && adminMenuItems.length && adminMenuItems.length > 0 ? adminMenuItems : defaultAdminMenuItems} client:load></Adminmenu>
</Shell>